{% extends "_layout.html" %} {% set active_page = "event" %} {% block title %}
Home {% endblock %} {% block body %}
<div class="flex justify-around">
  <article class="p-4 sm:p-6 lg:p-8">
    <div class="flex items-start sm:gap-8">
      <div
        class="hidden sm:grid sm:size-20 sm:shrink-0 sm:place-content-center sm:rounded-full sm:border-2 sm:border-teal-500 text-teal-500"
        aria-hidden="true"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="currentColor"
          class="w-8 h-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z"
          />
        </svg>
      </div>
  
      <div>
        <strong
          class="rounded border border-teal-500 bg-teal-500 px-3 py-1.5 text-[10px] font-medium text-white"
        >
          ID: {{user_event_id}}
        </strong>
  
        <h1 class="mt-4 text-lg font-medium sm:text-xl">
          {{user_event.name}}
        </h1>
  
        <div class="mt-2">
          <p class="my-1 text-sm text-gray-700">Event: <span class="font-bold">{{event.name}}</span></p>
        </div>
      </div>
    </div>
    <a
      class="group relative inline-flex items-center overflow-hidden rounded bg-gray-500 px-8 py-3 text-white focus:outline-none focus:ring active:bg-gray-400 mt-4"
      href="/events"
    >
      <span class="absolute -end-full transition-all group-hover:end-4">
        <svg
          class="size-5 rtl:rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"
          />
        </svg>
      </span>
      <span class="text-sm font-medium transition-all group-hover:me-4"
        >Back</span
      >
    </a>
  </article>
  
  <div>
    <h2 class="mt-4 text-xl font-bold sm:text-2xl">
      Other Registered Users
    </h2>
    {% if registered_users|length == 0 %}
      <p class="mt-2 text-sm italic">Nobody else has registered for this event</p>
    {% else %}
      <ul class="max-w-md w-full space-y-1 text-gray-700 list-disc list-inside">
        {% for registered_user in registered_users.values() %}
        <li>
          <p class="inline">{{registered_user.name}}</p>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>

{% endblock %}
